.clase1 {background-color: black;
color: rgb(198, 236, 233);}
.clase2 {background-color: rgb(99, 175, 226);}
.clase3 {background-color: rgb(240, 66, 240);}
.clase4 {background-color: yellow;}
.clase5 {background-color: paleturquoise;}